[submodule "libs/manopt"]
	path = libs/manopt
	url = https://github.com/andrewssobral/manopt.git
[submodule "libs/PROPACK"]
	path = libs/PROPACK
	url = https://github.com/andrewssobral/PROPACK.git
[submodule "libs/tensor_toolbox"]
	path = libs/tensor_toolbox
	url = https://github.com/andrewssobral/tensor_toolbox.git
[submodule "libs/lightspeed"]
	path = libs/lightspeed
	url = https://github.com/andrewssobral/lightspeed.git
